build
bin
debug
release
Debug
x64
.vs
node_modules
config.ini
config.json

/Clients/GuChat/.qmake.stash
/Clients/GuChat/GuChat.pro.user
/Clients/GuChat/GuChat.qtvscr
/Clients/GuChat/GuChat.sln
/Clients/GuChat/GuChat.vcxproj
/Clients/GuChat/GuChat.vcxproj.filters
/Clients/GuChat/GuChat.vcxproj.user
/Clients/GuChat/GuChat_resource.rc

ui_*.h